<span>
	<button class="delete" ng-click="tasks.deleteTask(task)">&times;</button>
	
	<input type="checkbox" ng-checked="task.checked" ng-click="setChecked(task)" class="toggle-checked" />

	<button class="toggle-private"
              ng-if="task.owner === $root.currentUser._id"
              ng-click="setPrivate(task)">
        {{task.private == true ? "Private" : "Public"}}
      </button>

	<span class="text"><strong>{{task.username}}</strong> - {{task.text}} - Date {{task.createdAt}}</span>
</span>


